# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# Dataset (don't upload large datasets)
dataset/

# Generated outputs
outputs/

# Reports (optional)
reports/

# Python build files
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env